In [12]:
import numpy as np
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import os
from pathlib import Path
import shutil
import cv2

In [13]:
train_images_0 = pq.read_table('berrybengali_preprocessed_0.parquet').to_pandas()
train_images_1 = pq.read_table('berrybengali_preprocessed_1.parquet').to_pandas()
train_images_2 = pq.read_table('berrybengali_preprocessed_2.parquet').to_pandas()
train_images_3 = pq.read_table('berrybengali_preprocessed_3.parquet').to_pandas()
test_images = pq.read_table('berrybengali_preprocessed_test.parquet').to_pandas()

In [14]:
image_0_id = []
image_1_id = []
image_2_id = []
image_3_id = []
image_test_id = []

In [15]:
for i in range(len(train_images_0)):
    image_0_id.append("Train_" + str(i))
    image_1_id.append("Train_" + str(i + 50210))
    image_2_id.append("Train_" + str(i + 100420))
    image_3_id.append("Train_" + str(i + 150630))
    
for i in range(len(test_images)):
    image_test_id.append("Test_" + str(i))

In [17]:
train_images_0["image_id"] = image_0_id
train_images_1["image_id"] = image_1_id
train_images_2["image_id"] = image_2_id
train_images_3["image_id"] = image_3_id
test_images["image_id"] = image_test_id

In [18]:
train0_from_pandas = pa.Table.from_pandas(train_images_0)
train1_from_pandas = pa.Table.from_pandas(train_images_1)
train2_from_pandas = pa.Table.from_pandas(train_images_2)
train3_from_pandas = pa.Table.from_pandas(train_images_3)
test_from_pandas = pa.Table.from_pandas(test_images)

/Users/hyunjoonlee/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: The DataFrame has column names of mixed type. They will be converted to strings and not roundtrip correctly.
  """Entry point for launching an IPython kernel.
/Users/hyunjoonlee/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: The DataFrame has column names of mixed type. They will be converted to strings and not roundtrip correctly.

/Users/hyunjoonlee/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: The DataFrame has column names of mixed type. They will be converted to strings and not roundtrip correctly.
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/hyunjoonlee/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: The DataFrame has column names of mixed type. They will be converted to strings and not roundtrip correctly.
  after removing the cwd from sys.path.
/Users/hyunjoonlee/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: UserWarning: The DataFrame has column names of mixed type. They will be converted to strings and not roundtrip correctly.
  """

In [19]:
pq.write_table(train0_from_pandas, 'berrybengali_preprocessed_wid_0.parquet')
pq.write_table(train1_from_pandas, 'berrybengali_preprocessed_wid_1.parquet')
pq.write_table(train2_from_pandas, 'berrybengali_preprocessed_wid_2.parquet')
pq.write_table(train3_from_pandas, 'berrybengali_preprocessed_wid_3.parquet')
pq.write_table(test_from_pandas, 'berrybengali_preprocessed_wid_test.parquet')

In [20]:
train_images_wid0 = pq.read_table('berrybengali_preprocessed_wid_0.parquet').to_pandas()

In [21]:
train_images_wid0

,0,1,2,3,4,5,6,7,8,9,...,9213,9214,9215,9216,9217,9218,9219,9220,9221,image_id
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,Train_0
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,Train_1
2,1,1,1,1,1,1,1,1,1,1,...,1,0,0,0,0,1,1,1,1,Train_2
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,Train_3
4,0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,Train_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50205,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,Train_50205
50206,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,Train_50206
50207,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,Train_50207
50208,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,Train_50208
50209,1,1,0,0,1,1,0,0,0,0,...,1,1,1,1,1,1,1,1,1,Train_50209